body {
  content: "Toolkit Ready!"; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  height: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: liga on;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum"; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }
html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

a:not([href]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):hover, a:not([href]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):focus {
    outline: none; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

body {
  content: "screen-xs:0"; }
  @media screen and (min-width: 544px) {
    body {
      content: "screen-sm:544px"; } }
  @media screen and (min-width: 768px) {
    body {
      content: "screen-md:768px"; } }
  @media screen and (min-width: 992px) {
    body {
      content: "screen-lg:992px"; } }
  @media screen and (min-width: 1200px) {
    body {
      content: "screen-xl:1200px"; } }

body {
  background-color: #F5F8FA;
  color: #142933; }

.inverse {
  color: #FFFFFF; }

.hidden {
  display: none !important; }

.bg-accent {
  background-color: #FF6A00; }

.bg-primary {
  background-color: #375666; }

.bg-base {
  background-color: #F5F8FA; }

.bg-success {
  background-color: #24B36B; }

.bg-warning {
  background-color: #FFBB27; }

.bg-danger {
  background-color: #C60025; }

.text-accent {
  color: #FF6A00; }

.text-primary {
  color: #375666; }

.text-base {
  color: #F5F8FA; }

.text-success {
  color: #24B36B; }

.text-warning {
  color: #FFBB27; }

.text-danger {
  color: #C60025; }

.border-accent {
  border-color: #FF6A00; }

.border-primary {
  border-color: #375666; }

.border-base {
  border-color: #F5F8FA; }

.border-success {
  border-color: #24B36B; }

.border-warning {
  border-color: #FFBB27; }

.border-danger {
  border-color: #C60025; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

@media screen and (min-width: 544px) {
  .text-sm-left {
    text-align: left !important; }

  .text-sm-right {
    text-align: right !important; }

  .text-sm-center {
    text-align: center !important; } }
@media screen and (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }

  .text-md-right {
    text-align: right !important; }

  .text-md-center {
    text-align: center !important; } }
@media screen and (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }

  .text-lg-right {
    text-align: right !important; }

  .text-lg-center {
    text-align: center !important; } }
@media screen and (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }

  .text-xl-right {
    text-align: right !important; }

  .text-xl-center {
    text-align: center !important; } }
.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-normal {
  font-weight: normal; }

.font-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

html, body {
  height: 100%; }

body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #375666; }

.welcome {
  display: table;
  width: 100%;
  height: 100%; }

.centered {
  display: table-cell;
  vertical-align: middle; }

.container {
  padding: 30px; }

.logo {
  margin-bottom: 50px; }
.logo img {
  height: 54px; }

h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 47px;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 40px; }

.products {
  list-style: none;
  padding: 0;
  margin-bottom: 60px; }
.products li {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 20px; }

.product-nuts {
  color: #9CC144; }

.product-dried {
  color: #F6402B; }

.product-seeds {
  color: #FFC200; }

.product-cereals {
  color: #BF862A; }

.product-elaborated {
  color: #8E61D7; }

.contact h3, .contact a {
  font-weight: 500; }
.contact h3 {
  margin-bottom: 16px; }
.contact {
  font-weight: 500; }
.contact span + span {
  margin-left: 12px; }
.contact a + a {
  margin-left: 40px; }

.contact-facebook {
  color: #3F51B5; }

.contact-gustosa {
  color: #FF6A00; }

.animate {
  -webkit-animation-name: show-content;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes show-content {
  from {
    -webkit-transform: scale(0.8);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.8);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
